.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
}

ul  li {
    margin-left: 20px;
    font-weight: bold;
}

li {
    display: inline-block;
    color: black;
}

a {
    text-decoration: none;
}

.content img {
    display: block;
    margin-top: 50px;
    margin-left: 52%;

}

img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 100px;
}

.text {
    font-size: 50px;
}

.border {
    height: 150px;
    width: 70%;
    background-color: #233B6C;
}
